.navbar {
	padding: 0 10px;
	border-bottom: 1px solid black;
}

.navbar ul.navbar-list {
	list-style-type: none;
	margin-bottom: 0;
}

ul.navbar-list li {
	display: inline-block;
	line-height: normal;
}

ul.navbar-list li a {
	display: block;
	padding: 10px 5px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	line-height: normal;
}
