#logo {
  width: 300px;
  margin: 0 auto;
  margin-top: 80px; }

/* Found on https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
.wrong {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
#talk {
  overflow-y: hidden; }

#talk-title {
  padding: 10px; }
  #talk-title h1 {
    font-size: 1em;
    color: grey;
    text-align: center;
    margin: 0; }
  #talk-title .button {
    border: 0;
    padding: 0;
    margin: 0; }

#talk-foot {
  position: relative; }
  #talk-foot .emo-btn {
    border: 0;
    padding: 0;
    transition: all 0.2s ease;
    float: left;
    margin: 0; }
    #talk-foot .emo-btn i {
      font-size: 2em; }
  #talk-foot #new-mess {
    position: relative;
    z-index: 200;
    background: #252525;
    padding: 8px;
    border-top: 1px solid grey; }
    #talk-foot #new-mess #message-form {
      margin-bottom: 0; }
    #talk-foot #new-mess .message-input {
      text-align: right; }
    #talk-foot #new-mess .message-input input {
      width: 300px;
      background: white !important;
      border-radius: 10px !important;
      color: #252525;
      margin-bottom: 0; }
    #talk-foot #new-mess .send-btn {
      padding: inherit;
      border-radius: 50%;
      background: #425d8b;
      border: none;
      width: 40px;
      color: white;
      font-size: 14px;
      margin-left: 5px;
      margin-bottom: 0; }
  #talk-foot #emo-list {
    background: white;
    overflow-x: scroll;
    position: relative;
    transition: all 0.2s ease;
    padding: 4px;
    border-radius: 2px;
    height: 108px;
    margin-bottom: -108px; }
    #talk-foot #emo-list i.em {
      margin: 2px; }

#talk.show-emo .emo-btn {
  transform: rotate(90deg); }
#talk.show-emo #emo-list {
  margin-bottom: 4px; }

.message {
  position: relative; }

.message.message-me {
  text-align: right; }

.message.message-them {
  text-align: left; }

.message-infos {
  font-size: 0.8em;
  font-weight: normal;
  color: grey;
  margin-top: 2px;
  height: 0;
  transition: all 0.2s ease;
  overflow: hidden; }

.message:hover .message-infos {
  margin-top: 10px;
  height: 20px; }

.message-bubble {
  max-width: 100%;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 10px;
  background: 2px solid white;
  font-size: 0.9em; }

.message-me .message-bubble {
  border: 2px solid white;
  background: white;
  color: #252525; }

.message-them .message-bubble {
  border: 2px solid #1d986d;
  background: #1d986d; }

.message-me:last-child:after {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("http://localhost:3001/images/bubble_q.svg") 0 0 no-repeat;
  fill: white;
  position: absolute;
  bottom: -12px;
  right: 0px; }

.message-them:last-child:after {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #1d986d;
  -webkit-mask: url("http://localhost:3001/images/bubble_q.svg") no-repeat 50% 50%;
  mask: url("http://localhost:3001/images/bubble_q.svg") no-repeat 50% 50%;
  transform: scaleX(-1);
  position: absolute;
  bottom: -12px;
  left: 0px; }

.message-list {
  padding-bottom: 20px;
  transition: all 0.2s ease;
  padding: 16px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #181818; }

ul.talk-list {
  list-style-type: none;
  margin: 30px auto;
  width: 340px;
  max-width: 100%; }
  ul.talk-list li {
    border: 2px solid #181818;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    background: #181818; }
    ul.talk-list li a {
      display: block;
      height: 100%;
      text-decoration: none;
      color: grey; }

#talks-side {
  width: 180px; }
  #talks-side ul.talk-list li {
    border: 0;
    height: 20px;
    line-height: 20px;
    border-radius: 0px;
    text-align: left;
    padding: 5px 10px;
    margin: 0; }
    #talks-side ul.talk-list li.current a {
      color: white; }

.input {
  margin-bottom: 1rem; }

.input input, textarea {
  position: relative;
  margin-bottom: 2px;
  color: #181818; }

.input .input-tip {
  font-size: 0.8em;
  text-align: left; }

.input.input-error input, .input.input-error textarea {
  border-bottom: 1px solid red !important; }

.input.input-error .input-tip {
  color: red; }

.input.input-success input, .input.input-success textarea {
  border: 1px solid green; }

.label-upload input {
  position: absolute;
  opacity: 0; }

.edit-form {
  width: 400px;
  max-width: 100%;
  text-align: center;
  margin: 3rem auto; }
  .edit-form form {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 8px; }
    .edit-form form .input {
      text-align: left;
      width: 100%; }
    .edit-form form input, .edit-form form textarea {
      width: 100%; }
    .edit-form form label {
      color: grey; }

.gallery .img-box {
  display: inline-block;
  width: 33.333%;
  height: 0;
  padding-top: 30%;
  position: relative;
  background-size: cover !important; }
  .gallery .img-box .del {
    position: absolute;
    top: 0;
    right: 0; }

#on-top .user-box .user-infos {
  padding: 16px; }
#on-top .user-btns button {
  margin-right: 6px; }
#on-top .tag {
  padding: 0;
  color: grey;
  border: 0;
  background: inherit;
  height: inherit;
  line-height: normal; }
  #on-top .tag.metoo {
    color: white; }

ul.users-list {
  list-style-type: none;
  margin: 0;
  padding: 40px 0 70px 0;
  transition: all 0.2s ease; }
  ul.users-list li {
    width: 33.333%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    transition: all 0.2s ease; }
    ul.users-list li:hover {
      transform: translate(0, -5px); }
      ul.users-list li:hover .user-box {
        box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2); }
        ul.users-list li:hover .user-box .user-menu {
          opacity: 1; }

.user-box {
  overflow-y: auto;
  position: relative;
  background: #181818;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  max-width: 580px;
  margin: 0 auto; }
  .user-box.appear {
    animation: userApparition 0.2s ease; }
  .user-box .img-box {
    background-size: cover !important;
    width: 100%;
    padding-bottom: 70%;
    position: relative; }
    .user-box .img-box .user-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: all 0.2s ease;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
    .user-box .img-box .close {
      padding: 5px;
      font-size: 2em;
      border: 0;
      color: white; }
    .user-box .img-box .gal-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .user-box .img-box .gal-btn button {
        border: 0;
        padding: 5px;
        font-size: 1.5em;
        color: white; }
  .user-box .user-infos {
    padding: 8px; }
    .user-box .user-infos h3 {
      font-size: 1.4em; }
    .user-box .user-infos .user-bio {
      margin: 10px 0; }
    .user-box .user-infos .info-dist {
      font-size: 0.8em;
      color: grey;
      display: inline-block;
      width: 50%; }
    .user-box .user-infos .online-status {
      display: inline-block;
      font-size: 0.8em;
      color: grey;
      width: 50%;
      text-align: right; }
      .user-box .user-infos .online-status.on {
        color: green; }
  .user-box .user-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .user-box #profile-img img {
    width: 100%;
    margin: 0; }

.like-btn {
  padding: 0;
  font-size: 2em;
  border: 0; }
  .like-btn.liked {
    color: red; }

.talk-btn {
  padding: 0;
  font-size: 2em;
  border: 0; }

.filter-menu {
  position: fixed;
  z-index: 200;
  padding: 10px;
  display: flex;
  width: 100%;
  left: 0;
  background-color: #252525; }
  .filter-menu .group-btn {
    margin: 0 auto; }
  .filter-menu .button {
    height: 24px;
    line-height: 24px;
    background: #252525;
    padding: 0 20px;
    color: grey; }
  .filter-menu li.active .button {
    color: white; }

.tag {
  display: inline-block;
  position: relative;
  padding: 0 8px;
  background: #252525;
  color: grey;
  border: 1px solid grey;
  margin-right: 8px;
  border-radius: 14px;
  font-size: 0.9em;
  height: 26px;
  line-height: 24px;
  font-size: 0.8em; }
  .tag.dismissable {
    padding-right: 28px; }
  .tag.metoo {
    color: white; }
  .tag .del {
    position: absolute;
    right: 2px;
    top: 2px;
    background: grey;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #252525;
    border-radius: 10px;
    line-height: 20px; }

.search-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.gender-btn {
  font-size: 2em;
  color: grey; }
  .gender-btn.active {
    color: white; }
  .gender-btn input {
    display: none; }

#advance-filters {
  position: absolute;
  top: -300px;
  left: 15px;
  transition: all 0.2s ease;
  padding: 8px;
  background: #252525; }
  #advance-filters h3 {
    font-size: 1.2em; }
  #advance-filters label {
    color: grey; }
  #advance-filters select {
    color: #252525; }
  #advance-filters.active {
    top: 64px; }

/* MATCH ANIMATION */
#match-anim {
  position: fixed;
  background: url("../images/DARKROOM_logo.svg") center center no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: matchanim;
  z-index: 200; }

@keyframes userApparition {
  0% {
    opacity: 0;
    transform: scale(0.8); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes matchanim {
  from, to {
    opacity: 0; }
  from {
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@media screen and (max-width: 840px) {
  ul.users-list li {
    width: 50%; } }
@media screen and (max-width: 480px) {
  ul.users-list li {
    width: 100%; } }
#map {
  height: 500px; }

#map button {
  margin-bottom: 0; }

.marker {
  background-image: url("../images/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

/* GENERIC STUFF */
body {
  background: #252525;
  font-family: 'Open Sans', sans-serif;
  color: white; }

.blur {
  filter: blur(5px);
  overflow: hidden; }

/* LAYOUT */
html, body, #main {
  height: 100%; }

div {
  box-sizing: border-box; }

.container {
  display: flex;
  flex-flow: column;
  height: 100%; }

.content {
  flex: 1;
  overflow-y: auto; }
  .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background-color: #252525; }
  .content::-webkit-scrollbar {
    width: 8px;
    background-color: #252525; }
  .content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #181818; }

.layout {
  display: flex; }

.layout-column {
  display: flex;
  flex-direction: column; }

.layout-row {
  display: flex;
  flex-direction: row; }

.flex {
  flex: 1; }

.space-between {
  justify-content: space-between; }

.center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

#on-top {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgba(255, 255, 255, 0.2); }

button.btn-no-style {
  padding: 0;
  border: 0;
  margin: 0;
  line-height: normal;
  height: inherit; }

/* TYPO */
h1 {
  font-size: 2em; }

.important-font {
  font-size: 22px;
  text-transform: uppercase;
  font-style: italic;
  color: #252525;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, 0px 1px 0 white, 0px -1px 0 white, -1px 0px 0 white, 1px 0px 0 white; }

/* ALERT AND NOTIF */
.alert {
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  padding: 8px;
  width: 100%; }

.notif {
  background: red;
  color: white;
  font-size: 0.7em;
  border-radius: 9px;
  display: inline-block;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  margin: 3px; }

/* NAVBAR */
.navbar {
  background: #252525;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 210; }
  .navbar .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    .navbar .navbar-list ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .navbar .navbar-list li {
    margin: 0;
    height: 58px;
    width: 58px;
    text-align: center;
    line-height: 58px; }
  .navbar .navbar-list li a {
    text-decoration: none;
    color: grey;
    display: block;
    height: 100%;
    font-size: 1.4em; }
  .navbar .navbar-list li.active {
    color: white; }
  .navbar .navbar-list li.active a {
    color: white; }

.account-menu {
  position: fixed;
  bottom: 10px;
  left: 63px;
  background: #252525;
  padding: 8px;
  border-radius: 8px;
  z-index: 300;
  width: 400px;
  max-width: 100%;
  border: 1px solid grey; }

/* FOOTER */
.footer {
  border-top: 1px solid grey; }

.pointer {
  cursor: pointer; }

ul.group-btn {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.group-btn li {
    display: inline-block;
    margin: 0; }
    ul.group-btn li .button {
      border-radius: 0;
      border: 0;
      margin: 0; }

@media screen and (max-width: 840px) {
  #main {
    padding-bottom: 64px; }

  .container {
    width: 90%; }

  .navbar {
    bottom: 0;
    top: inherit;
    width: 100%;
    height: inherit;
    background: #252525;
    border-top: 1px solid grey;
    z-index: 200; }
    .navbar .navbar-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: inherit; }
      .navbar .navbar-list ul {
        flex: 1;
        flex-direction: row;
        justify-content: space-between; }
        .navbar .navbar-list ul li {
          display: inline-block; } }

/*# sourceMappingURL=style.css.map */
