.navbar {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
.navbar .navbar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navbar .navbar-list li {
	display: inline-block;
	margin: 0;
}
.navbar .navbar-list li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px 20px 10px 0;
	line-height: normal;
}
.navbar .navbar-list li a:hover {
	color: blue;
}
.navbar .navbar-list li.active a {
	color: white;
	background: black;
}
input.form-error {
	border: red;
}
