@import 'colors';

.input {
	margin-bottom: 1rem;
}
.input input, textarea {
	position: relative;
	margin-bottom: 2px;
	color: $grey-dark;
}
.input .input-tip {
	font-size: 0.8em;
	text-align: left;
}
.input.input-error input, .input.input-error textarea {
	border-bottom: 1px solid red !important;
}
.input.input-error .input-tip {
	color: $red;
}
.input.input-success input, .input.input-success textarea {
	border: 1px solid green;
}
.label-upload input {
	position: absolute;
	opacity: 0;
}

.edit-form {
	width: 100%;

	form {
		.input {
			text-align: left;
			width: 100%;
		}
		input, textarea {
			width: 100%;
		}
		label {
			font-size: 0.9em;
			color: $grey-light;
		}
		input[type="submit"] {
			width: inherit;
		}
	}
}

.home-form {
	margin: 0 auto;
	max-width: 480px;
	.input {
		label {text-align: left;}
		input {
			width: 100%;
		}
	}
}
