@import 'colors';



#users-list {
	padding-top: 56px;
}

ul.users-list {
	list-style-type: none;
	margin: 0;
	padding: 00px 0 70px 0;
	transition: all 0.2s ease;

  li {
	   width: 33.333%;
	   display: inline-block;
	   padding: 10px;
	   box-sizing: border-box;
		 margin: 0;
		 transition: all 0.2s ease;


		 &:hover {
			 transform: translate(0, -5px);

			 .user-box {
				 box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .2);

				 .user-menu {
					 opacity: 1;
				 }
			 }
		 }

  }
}
.user-card {
	cursor: pointer;

	&.new-card {
		border: 2px solid $red;
	}
}
.user-card, .user-box {
	background: $grey-dark;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
	.img-box {
		background-size: cover !important;
		width: 100%;
		padding-bottom: 70%;
		position: relative;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}
	.user-infos {
		padding: 8px;
		h3 {
			font-size: 1.2em;
			font-weight: normal;
		}
		.info-dist {
			font-size: 0.8em;
			color: $grey-light;
			display: inline-block;
			width: 50%;
		}
		.online-status {
			display: inline-block;
			font-size: 0.8em;
			color: $grey-light;
			width: 50%;
			text-align: right;

			&.on {
				color: $green;
			}
		}
	}
	.like-btn {
		padding: 0;
		font-size: 2em;
		border: 0;

		&.liked {
			color: $red;
		}
	}
	.talk-btn {
		padding: 0;
		font-size: 2em;
		border: 0;
	}
}
.user-box {
	 position: fixed !important;
	 top: 20px;
	 left: 50%;
	 margin-left: -260px;
	 width: 580px;
	 max-width: 100%;
	 max-height: 90vh;

	 &.appear {
		  animation: userApparition 0.1s ease;
	 }
	 .img-box {
		 box-shadow: inset 0 -10px 80px black;
		 .gal-btn {
				position: absolute;
	 			 top: 0;
	 			 left: 0;
	 			 width: 100%;
	 			 height: 100%;
	 			 bottom: 0;
	 			 right: 0;
				display: flex;
 			 	align-items: center;
				justify-content: space-between;

				button {
					border: 0;
					padding: 5px;
					font-size: 1.5em;
					color: $white;
				}

		 }
	 }
	 .user-infos {
		 padding: 16px;
 		.tag {
 			padding: 0;
 			color: grey;
 			border: 0;
 			background: inherit;
 			height: inherit;
 			line-height: normal;

 			&.metoo {
 				color: $white;
 			}
 		}
		 .user-bio {
			 margin: 10px 0;
			 overflow-y: auto;
			 color: $grey-light;
			 font-size: 0.9em;
			 text-align: justify;
			 padding: 16px;
			 max-height: 100px;
		 }
	 }
	 #profile-img img {
 	 width: 100%;
 	 margin: 0;
 	}
	.user-btns {
		position: absolute;
		bottom: 0;
		padding: 10px;
		padding-bottom: 0;
		width: 100%;
		button {
			margin-right: 6px;
			margin-bottom: 0;
		}
	}

}


.filter-menu {
	position: fixed;
	z-index: 150;
	padding: 10px;
	width: 100%;
	left: 0;
	background-color: $grey-medium;

	.group-btn {
		margin: 0 auto;
	}
	.button {
		height: 24px;
		line-height: 24px;
		background: $grey-medium;
		padding: 0 20px;
		color: $grey-light;
	}
	.sort-arrow {
		display: none;
	}
	li.active .button, li.active svg {
		color: $white;

		.sort-arrow {
			display: inline-block;
		}
	}
}
.tag-section {
	text-align: center;
	#search-input {
		position: relative;
		width: 250px;
		margin: 0 auto;
		input {
			height: 24px;
			border-radius: 12px;
			font-size: 0.9em;
			margin-top: 5px;
			width: 100%;
		}
		button {
			background: $blue;
			height: 24px !important;
			width: 24px !important;
			font-size: 0.9em;
			line-height: 24px !important;
			border-radius: 12px;
			margin-left: -24px !important;
			margin-top: 5px !important;
			position: relative;
			z-index: 20;
			text-align: center !important;
		}
		.search-list {
			position: absolute;
			background: $white;
			list-style-type: none;
			margin: 0;
			padding: 0;
			top: 35px;
			width: 100%;
			border-radius: 6px;
			z-index: 3;
			li {
				border-bottom: 1px solid $grey-light;
				margin-bottom: 0;
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}


}

.tag {
	display: inline-block;
	position: relative;
	padding: 0 4px;
	background: $grey-medium;
	color: $grey-light;
	border: 1px solid $grey-light;
	margin-right: 8px;
	border-radius: 12px;
	font-size: 0.7em;
	line-height: normal;
	font-size: 0.8em;

	&.dismissable {
		padding-right: 20px;
	}
	&.metoo {
		color: white;
	}
  .del {
		position: absolute;
		right: 0;
		top: 0;
		background: grey;
		height: 18px;
		width: 18px;
		text-align: center;
		color: $grey-medium;
		border-radius: 9px;
		line-height: normal;
		font-size: 1em;
  }
}


.img-account-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		width: 50%;
		display: inline-block;
		padding: 0;
		box-sizing: border-box;
		margin: 0;


		.img-box {
			background-size: cover !important;
	 		 width: 100%;
	 		 padding-bottom: 100%;
	 		 position: relative;

			 .del, .img-main {
				 background: $red;
				 padding: 0;
				 line-height: normal;
				 height: 20px;
				 width: 20px;
				 color: white;
				 border-radius: 10px;
				 border: 0;
				 position: absolute;
				 top: 10px;
				 right: 10px;
			 }
			 .img-main {
				 	background: $white;
					color: $grey-light;
		 			top: 35px;
		 	}
		}
	}
}


.gender-btn {
  font-size: 1em;
	color: $grey-light;
	cursor: pointer;

	&.active {
		color: $white;
	}
	input {
		display: none;
	}
}
#advance-search {
	background: $grey-medium;
	font-size: 0.9em;
	color: $grey-light;
	padding-top: 30%;
	button {
		margin-top: 3rem;
	}
}
#advance-filters {
	transition: all 0.2s ease;
	padding: 0px;
	background: $grey-medium;
	height: 0;
	overflow: hidden;
	font-size: 0.9em;
	color: $grey-light;

	&.active {
		height: auto;
		padding: 8px;
	}
}

#advance-search, #advance-filters {
	.layout-row {
		padding: 10px 0;
	}
	h3 {
		font-size: 1em;
		margin-bottom: 5px;
	}
	label {
		color: $grey-light;
	}
	.tag {
		margin: 5px;
	}
	select {
		color: $grey-medium;
		margin: 0 5px;
		height: 20px;
		background: $grey-dark;
		color: $white;
		border: 0;
		border-radius: 2px;
	}
	input {
		background: $grey-dark;
		border: 0;
		padding: 5px;
		&:focus {
			outline: 0;
		}
	}

}

/* MATCH ANIMATION */
#match-anim {
	position: fixed;
	background: url('../images/DARKROOM_logo.svg') center center no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
	animation-name: matchanim;
	z-index: 200;
}

@keyframes userApparition {
    0%   {
				opacity: 0;
				transform: scale(0.8);
		}
		100%   {
				opacity: 1;
				transform: scale(1);
		}
}

@keyframes matchanim {
	from, to {
    opacity: 0;
  }

	from {
		transform: scale3d(.3, .3, .3);
	}

  50% {
    opacity: 1;
  }

}

@media screen and (max-width: 840px) {
  	ul.users-list li {
  		width: 50%;
    }

		#users-list {
			padding-top: 100px;
		}
		.xs-no-flex {
			display: block !important;
		}
		.user-box {
    		margin-left: -290px;
    	}

}
@media screen and (max-width: 580px) {
	  .user-box {
  		left: 0;
  		margin-left: 0;
		.user-infos, .user-bio {
			padding: 5px !important;
		}
  	}

}

@media screen and (max-width: 480px) {
  	ul.users-list li {
  		width: 100%;
    }

  }
