@import 'colors';
@import 'login';
@import 'chat';
@import 'form';
@import 'users';
@import 'map';
@import 'admin';

/* GENERIC STUFF */
body {
	background: $grey-medium;
	font-family: 'Open Sans', sans-serif;
	color: $white;
}
.blur {
	filter: blur(5px);
	overflow: hidden;
}

/* LAYOUT */
html, body, #main {
	height: 100%;
}
div {
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-flow: column;
	height: 100%;
	max-width: 960px;
	padding-left: 60px;

	&.talks-expand {
		//padding-left: 200px;
	}
}
.content {
	flex: 1;
	overflow-y: auto;

	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
		border-radius: 6px;
		background-color: $grey-medium;
	}

	&::-webkit-scrollbar
	{
		width: 8px;
		background-color: $grey-medium;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 6px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: $grey-dark;
	}
}
.layout {
	display: flex;
}
.layout-padding {
	padding: 16px;
}
.layout-column {
	display: flex;
	flex-direction: column;
}
.layout-row {
	display: flex;
	flex-direction: row;
}
.align-center{
	align-items: center;
}
.flex {
	flex: 1;
}
.space-between {
	justify-content: space-between;
}
.center {
  text-align: center;
}
.text-right {
	text-align: right;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.on-top {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 2rem;
	padding-bottom: 70px;
	background: rgba(255, 255, 255, 0.2);
	cursor: w-resize;
}

button.btn-no-style {
	padding: 0;
	border: 0;
	margin: 0;
	line-height: normal;
	height: inherit;
}

/* TYPO */
h1 {
	font-size: 2em;
}
// .important-font {
// 	font-size: 22px;
// 	text-transform: uppercase;
// 	font-style: italic;
// 	color: $grey-medium;
// 	text-shadow: 1px 1px 0 white,
// 			    -1px 1px 0 white,
// 			    1px -1px 0 white,
// 			    -1px -1px 0 white,
// 			    0px 1px 0 white,
// 			    0px -1px 0 white,
// 			    -1px 0px 0 white,
// 			    1px 0px 0 white;
// }

/* ALERT AND NOTIF */
.alert {
	position: fixed;
	top: 0;
	text-align: center;
	right: 0;
	padding: 8px 16px;
	margin: 8px;
	border-radius: 4px;
	z-index: 400;

	&.alert-danger {
		background: $red;
	}
}
.notif {
	background: red;
	color: white;
	font-size: 0.7em;
	border-radius: 9px;
	display: inline-block;
	min-width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	margin: 3px;
}
.notif-menu {
	position: relative;
	.notif {
		position: absolute;
		top: 10%;
		right: 2%;
	}
}

/* NAVBAR */
.navbar {
	background: $grey-medium;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 210;

  .navbar-list {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
		display: flex;
	  flex-direction: column;
		justify-content: space-between;
	  height: 100%;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
  }
  .navbar-list li {
		margin: 0;
		height: 58px;
		width: 58px;
		//border-radius: 29px;
		text-align: center;
		line-height: 58px;
		position: relative;
  }
  .navbar-list li a, .navbar-list li button {
  	text-decoration: none;
  	color: $grey-light;
  	display: block;
  	height: 100%;
		font-size: 1.4em;
		padding: 0;
		border: 0;
		margin: 0;
		text-align: center;
		width: 100%;
  }
  .navbar-list li.active {
  	color: $white;
  }
  .navbar-list li.active a, .navbar-list li.active button {
  	color: $white;
  }
}

#account-menu {
	 position: fixed;
	 height: 100%;
	 width: 720px;
	 max-width: 100%;
	 left: -720px;
	 padding: 0;
	 top: 0;
	 overflow-y: auto;
	 transition: all 0.2s ease;
	 z-index: 200;
	 background: $grey-dark;
	 text-align: left;
	 color: $grey-light;
	 transition: all 0.2s ease;
	 left: 60px;
	 animation-duration: 0.2s;
	 .edit-btn {
		 background: $blue;
		 padding: 14px;
		 position: relative;
		 a {
			 text-decoration: none;
			 color: white;
			 display: block;
			 height: 100%;
		 }
	 }
	 .logout-btn {
		 padding: 14px;
		 color: $red;
		 cursor: pointer;
	 }
	 h3 {
		 font-size: 1em;
		 text-align: center;
		 display: flex;
		 align-items: center;
		 white-space: nowrap;
		 letter-spacing: 3px;
		 margin-top: 2rem;
		 &:before {
			 content: "";
			 width: 95%;
			 height: 1px;
			 background: $grey-light;
			 margin-right: 5px;
		 }
		 &:after {
			 content: "";
			 width: 95%;
			 height: 1px;
			 background: $grey-light;
			 margin-left: 5px;
		 }
	 }

}

/* FOOTER */
.footer {
	border-top: 1px solid grey;
}

.pointer {
	cursor: pointer;
}
ul.group-btn {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
		margin: 0;
    .button {
      border-radius: 0;
      border: 0;
			margin: 0;
    }
  }
}

@media screen and (max-width: 840px) {
	#main {
		padding-bottom: 64px;
	}
	.container {
		width: 94%;
		padding-left: 0px;
	}
	.navbar {
		bottom: 0;
		top: inherit;
		width: 100%;
		height: inherit;
		background: $grey-medium;
		border-top: 1px solid $grey-light;
		z-index: 300;

		.navbar-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			height: inherit;
			ul {
				flex: 1;
				flex-direction: row;
				justify-content: space-between;
				li {
					display: inline-block;
				}
			}
		  }
		}
		#account-menu {
			left: 0px;
			padding-bottom: 60px;
		}
}
