@import 'colors';
@import 'login';
@import 'chat';
@import 'form';
@import 'users';
@import 'map';

/* GENERIC STUFF */
body {
	background: $clr-back;
	font-family: 'Open Sans', sans-serif;
	color: $clr-txt;
}
.blur {
	filter: blur(5px);
	overflow: hidden;
}

/* LAYOUT */
html, body, #main {
	height: 100%;
}
div {
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.content {
	flex: 1;
	overflow-y: auto;

	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
		border-radius: 6px;
		background-color: $clr-back;
	}

	&::-webkit-scrollbar
	{
		width: 8px;
		background-color: $clr-back;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 6px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: black;
	}
}

.layout {
	display: flex;
}
.layout-column {
	display: flex;
	flex-direction: column;
}
.flex {
	flex: 1;
}
.center {
  text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/* TYPO */
h1 {
	font-size: 2em;
}
.important-font {
	font-size: 22px;
	text-transform: uppercase;
	font-style: italic;
	color: $clr-back;
	text-shadow: 1px 1px 0 white,
			    -1px 1px 0 white,
			    1px -1px 0 white,
			    -1px -1px 0 white,
			    0px 1px 0 white,
			    0px -1px 0 white,
			    -1px 0px 0 white,
			    1px 0px 0 white;
}

/* ALERT AND NOTIF */
.alert {
	position: fixed;
	top: 0;
	text-align: center;
	left: 0;
	right: 0;
	padding: 8px;
	width: 100%;
}
.notif {
	background: red;
	color: white;
	font-size: 0.7em;
	border-radius: 9px;
	display: inline-block;
	min-width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	margin: 3px;
}

/* NAVBAR */
.navbar {
	background: $clr-back;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 210;

  .navbar-list {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
		display: flex;
	  flex-direction: column;
		justify-content: space-between;
	  height: 100%;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
  }
  .navbar-list li {
		margin: 0;
		height: 58px;
		width: 58px;
		//border-radius: 29px;
		text-align: center;
		line-height: 58px;
  }
  .navbar-list li a {
  	text-decoration: none;
  	color: white;
  	display: block;
  	height: 100%;
		font-size: 1.4em;
  }
  .navbar-list li:hover {
  	background: grey;
  }
  .navbar-list li.active {
  	background: black;
  }
  .navbar-list li.active a {
  	color: white;
  }
}

.account-menu {
	position: fixed;
	bottom: 10px;
	left: 63px;
	background: black;
	padding: 8px;
	border-radius: 8px;
	z-index: 300;
	width: 400px;
	max-width: 100%;
	border: 1px solid $grey;
}

/* FOOTER */
.footer {
	border-top: 1px solid grey;
}

.pointer {
	cursor: pointer;
}
ul.group-btn {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
		margin: 0;
    .button {
      border-radius: 0;
      border: 0;
			margin: 0;
    }
  }
}

@media screen and (max-width: 840px) {
	#main {
		padding-bottom: 64px;
	}
	.container {
		width: 90%;
	}
	.navbar {
		bottom: 0;
		top: inherit;
		width: 100%;
		height: inherit;
		background: $clr-back;
		border-top: 1px solid $grey;
		z-index: 200;

		.navbar-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			height: inherit;
			ul {
				flex: 1;
				flex-direction: row;
				justify-content: space-between;
				li {
					display: inline-block;
				}
			}
  }
}
}
